body {
    background-color: #18181b;
    margin: 0;
    padding: 0;
    font-family: 'Monstserrat', sans-serif;
    color: white;
}

/* Default styles for the navigation menu (mobile view) */
#menu-button {
    display: block; /* Show menu button by default */
}

#desktop-nav {
    display: none; /* Hide the desktop menu by default */
}

#menu-content ul {
    display: block; /* Mobile view will stack the items */
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 1.2rem 0.2rem;
}


.navigation a {
    border: none;
    background: oklab(0.274 0.00165715-0.00576662 / 0.9);
    color: white;
    border-radius: 25px;
    padding: 15px 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-right: 0.5em;
}

.navigation a.light-mode {
    color: black;
    background-color: white;
    border: 1px solid gray;
}

.navigation button {
    border: none;
    background: oklab(0.274 0.00165715-0.00576662 / 0.9);
    color: oklch(0.705 0.015 286.067);
    border-radius: 25px;
    padding: 8px 12px;
    font-size: 24px;
    cursor: pointer;
}

.navigation button.light-mode {
    background-color: white;
    color: turquoise;
    border: 1px solid gray;
}

#sun {
    display: none;
}

.container.light-mode #moon {
    display: none;
}

.container.light-mode #sun {
    display: inline-block;
}

.mobile-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mobile-nav h2 {
    font-size: 14px;
    color: #7a7a7a;
    margin-top: 0;
    margin-bottom: 2em;
}

.fa-solid {
    font-size: 16px;
    color: #7a7a7a;
}

.mobile-nav {
    position: absolute;
    background-color: oklch(0.21 0.006 285.885);
    padding: 32px;
    border: 1px solid gray;
    border-radius: 15px;
    top: 2em;
    left: 0;
    right: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.mobile-nav.show {
    opacity: 1;
    visibility: visible;
}

.mobile-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin: 0 0 1em 0;
    padding: 0 0 0.5em 0;
    list-style: none;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid gray;
    font-size: 16px;
    color: oklch(0.871 0.006 285.885);
}

.mobile-nav ul li:last-child {
    border-bottom: none;
}

/* Styles for larger screens (768px and above) */
@media (min-width: 768px) {
    /* Hide the menu button on larger screens */
    #menu-button {
        display: none;
    }

    /* Display the desktop navigation menu */
    #desktop-nav {
        display: block;
    }

    /* Make the menu items horizontal and center them */
    #desktop-nav ul {
        display: flex;
        justify-content: center; /* Centers the items */
        list-style-type: none;
        background: oklab(0.274 0.00165715-0.00576662 / 0.9);
        border-radius: 25px;
        padding: 0.7em;
    }

    #desktop-nav ul li {
        margin: 0 20px; /* Add spacing between items */
        font-size: 16px;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0 3em;
    }

    .navigation {
        order: 2;
    }

    .mobile-nav {
        order: 1;
    }

}

/* Additional styling for the navigation button */
#theme-toggle {
    /* Styles for the theme toggle button */
}
