body {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #18181b;
}

a.active {
    color: turquoise;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*    Main          */

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
}

.about-content {
    color: white;
}

.about-content h1 {
    font-size: 32px;
}

.about-content p {
    font-size: 16px;
    line-height: 1.6em;
    color: oklch(0.705 0.015 286.067);
}

.about-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-image img {
    width: 100%;
    border-radius: 25px;
    transform: rotate(5deg);
    margin: 2em 0;
}

.about-socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid gray;
    width: 100%;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.2s ease;
    gap: 1em;
    margin: 0.5em 0;
}

.socials .fa-brands {
    color: oklch(0.705 0.015 286.067);
    font-size: 24px;
}

.socials a {
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration: none;
}

.socials a:hover {
    color: turquoise;
}


@media (min-width: 768px) {
    body {
        background-color: black;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        width: 80%;
        background-color: #181818;
        border-left: 1px solid #3e3e3e;
        border-right: 1px solid #3e3e3e;
        margin: auto auto;
        padding-left: 2em;
        padding-right: 2em;
    }

    /*    Main          */

    .about-content h1 {
        font-size: 48px;
    }

    .socials {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        transition: 0.2s ease;
        gap: 1em;
        margin: 0.5em 0;
    }

    .socials .fa-brands {
        color: oklch(0.705 0.015 286.067);
        font-size: 24px;
    }

    .socials a {
        color: white;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: 0.2s ease;
    }

    .socials a:hover {
        color: turquoise;
    }

    .about-image img {
        width: 100%;
        margin: 4em 0;
    }

}

@media (min-width: 1024px) {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        width: 65%;
        background-color: #181818;
        border-left: 1px solid #3e3e3e;
        border-right: 1px solid #3e3e3e;
        margin: auto auto;
        padding-left: 2em;
        padding-right: 2em;
    }

    /*    Main          */

    .about-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 5em;
        gap: 5em;
    }

    .about-content {
        width: 50%;
    }

    .about-image {
        width: 50%;
    }

}

