/*    Footer       */

footer {
    width: 100%;
    border-top: 1px solid #3e3e3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0;
    gap: 2em;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: 0.2s ease;
}

.footer-links a:hover {
    color: turquoise;
}

footer p {
    color: gray;
    text-align: center;
    font-size: 14px;
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
    /*    Footer       */

    footer {
        width: 100%;
        border-top: 1px solid #3e3e3e;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3em 0;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 2em;
    }

    .footer-links ul {
        list-style-type: none;
    }

    .footer-links a {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }

    footer p {
        color: gray;
        text-align: center;
        font-size: 14px;
    }
}