/*!*    Header    *!*/

header {
    margin-bottom: 4em;
}

.navigation {
    padding-top: 1em;
}

/* Hide menu links initially (on mobile) */
#menu-content {
    display: none;
    position: absolute;
    top: 40px; /* adjust depending on your header height */
    left: 0;
    right: 0;
    background-color: oklch(0.21 0.006 285.885);
    padding: 1em 2em;
    box-shadow: 0 50px 1000px rgba(0, 0, 0);
    border-radius: 15px;
    border: 1px solid #3f3f46;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.menu-content-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#menu-content h2 {
    color: oklch(0.705 0.015 286.067);
    font-size: 14px;
}

.fa-solid {
    color: oklch(0.705 0.015 286.067);
}

#menu-content ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    gap: 0;
}

#menu-content ul li {
    border-bottom: 1px solid #3f3f46;
    width: 100%;
    padding: 0.75em 0;
}

#menu-content ul li:last-child {
    border-bottom: none;
}

#menu-content ul li a{
    color: oklch(0.871 0.006 286.286);
    text-decoration: none;
    font-size: 16px;
}

#menu-content ul li a.active {
    color: turquoise;
}

/* Show the links when active */
#menu-content.show {
    display: block;
}

#menu-button {
    color: white;
    text-decoration: none;
    background-color: oklab(0.274 0.00165715-0.00576662 / 0.9);
    padding: 13px 16px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
}

#menu-button .fa-solid {
    padding-left: 10px;
}

@media (min-width: 768px) {
    /*    Header    */

    #menu-button {
        display: none; /* Hide Menu button */
    }

    #menu-content {
        display: flex;
        justify-content: center;
        border: none;
        width: 0;
    }

    #menu-content ul {
        display: flex;
        flex-direction: row;
        padding: 0 1em;
    }

    #menu-content ul li {
        list-style: none;
        border: none;
        padding: 0;
    }

    #menu-content ul li a {
        text-decoration: none;
        color: white;
        transition: 0.2s ease;
    }

    #menu-content ul li a:hover {
        color: turquoise;
    }
    #nav-button {
        display: none;
    }

    .menu-content-title {
        display: none;
    }

    header ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background: oklab(0.274 0.00165715-0.00576662 / 0.9);
        border-radius: 25px;
        border: 1px solid #3f3f46;
    }

    header li {
        margin: 0 5px;
        text-align: center;
    }

    header li a {
        text-decoration: none;
        color: white;
        padding: 10px;
        display: block;
        text-align: center;
        transition: 0.2s ease;
        font-size: 14px;
        font-weight: 600;
    }

    header li a:hover {
        color: turquoise;
    }
}
