body {
    margin: 0;
    padding: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #18181b;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*      Main        */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.main h1 {
    color: white;
    font-size: 32px;
    margin-bottom: 0;
}

.main p {
    font-size: 16px;
    line-height: 1.6em;
    color: oklch(0.705 0.015 286.067);
    margin-right: auto;
    margin-bottom: 2em;
}

/*    Articles      */

.articles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: left;
    gap: 2em;
    margin-bottom: 2em;
}

.singular-article {
    padding: 1em 0;
    transition: 0.1s ease;
}

.singular-article h2 {
    font-size: 14px;
    color: white;
    font-weight: normal;
    margin-bottom: 2em;
}

.singular-article h1 {
    font-size: 16px;
    margin: 1em 0;
}

.singular-article p {
    font-size: 14px;
    color: oklch(0.705 0.015 286.067);
    line-height: 1.6em;
    padding-bottom: 2em;
}

.singular-article a {
    text-decoration: none;
    color: turquoise;
}

@media (min-width: 768px) {
    body {
        background-color: black;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        width: 80%;
        background-color: #181818;
        border-left: 1px solid #3e3e3e;
        border-right: 1px solid #3e3e3e;
        margin: auto auto;
        padding-left: 2em;
        padding-right: 2em;
    }

    /*    Main      */

    .main h1 {
        color: white;
        font-size: 48px;
        margin-bottom: 0;
    }

    /*    Articles      */

    .articles {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-direction: column;
        color: white;
        text-align: left;
        gap: 2em;
        margin: 2em 0;
    }

    .singular-article {
        display: flex;
        flex-direction: row;
        transition: 0.1s ease;
    }

    .date {
        flex: 0.5;
        width: 100%;
    }

    .article {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .singular-article h2 {
        font-size: 14px;
        border-left: 1px solid #3f3f46;
        height: 100%;
        margin: 0;
        padding: 0 2em 0 2em;
        font-weight: normal;
    }

    .singular-article h1 {
        font-size: 16px;
    }

    .singular-article p {
        font-size: 14px;
        color: oklch(0.705 0.015 286.067);
        line-height: 1.6em;
    }

    .singular-article a {
        text-decoration: none;
        color: turquoise;
    }


}

@media (min-width: 1024px) {

    body {
        background-color: black;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        width: 65%;
        background-color: #181818;
        border-left: 1px solid #3e3e3e;
        border-right: 1px solid #3e3e3e;
        margin: auto auto;
        padding-left: 2em;
        padding-right: 2em;
    }

    /*    Main         */

    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1em;
        margin: 0 4em;
        width: 100%;
    }

    .main h1 {
        color: white;
        font-size: 48px;
    }

    .main p {
        font-size: 16px;
        line-height: 1.6em;
        color: oklch(0.705 0.015 286.067);
        margin-right: auto;
    }

    /*    Articles      */

    .articles {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-direction: column;
        color: white;
        text-align: left;
        gap: 2em;
        margin: 2em 0;
    }

    .singular-article {
        width: 70%;
        display: flex;
        flex-direction: row;
        padding: 2em;
        transition: 0.1s ease;
    }

    .date {
        flex: 0.5;
        width: 100%;
    }

    .article {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .singular-article h2 {
        font-size: 14px;
        height: 100%;
        margin: 0;
        padding: 0 2em 0 2em;
        color: white;
        font-weight: 600;
    }

    .singular-article h1 {
        font-size: 16px;
    }

    .singular-article p {
        font-size: 14px;
        color: oklch(0.705 0.015 286.067);
        line-height: 1.6em;
    }

    .singular-article a {
        text-decoration: none;
        color: turquoise;
    }

}

